<!-- 

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login</title>
</head>
<body>

	Author :
	<span th:text="${post.author}"></span>
	<br> content :
	<span th:text="${post.content}"></span>
	<br> Id :
	<span th:text="${post.id}"></span>
	<br> title :
	<span th:text="${post.title}"></span>
	<br> Excerpt :
	<span th:text="${post.excerpt}"></span>
	<br> Created at :
	<span th:text="${post.createdAt}"></span>
</body>
</html>


 -->
 
 
 unauthorized access