<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Comment-form</title>
<link rel="stylesheet" th:href="@{/css/comment-form.css}" />
</head>
<body>
	<form
		th:action="@{/update-comment(commentId=${commentName.id}, postId=${postId})}"
		th:object="${commentName}" method="post">
		<div>
			<label for="name">Name:</label> <input type="text" id="name"
				name="name" th:field="*{name}" placeholder="Enter Name" required />
		</div>

		<div>
			<label for="email">Email:</label> <input type="email" id="email"
				name="email" th:field="*{email}" required />
		</div>

		<div>
			<label for="content">Comment:</label>
			<textarea id="content" name="content" rows="4" cols="50"
				th:field="*{content}" required></textarea>
		</div>

		<input type="submit" value="Submit " />
	</form>
</body>
</html>
